@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply text-white;
        font-family: 'NotoSans', sans-serif;
    }

    @font-face {
        font-family: 'NotoSans';
        src: url("./assets/fonts/NotoSans-VariableFont_wdth,wght.ttf") format("truetype");
    }
}